<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> || Christ Embassy Lagos Zone 3 - Yaba ||</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-me">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarTogglerDemo02">
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newMembers">I'm new here</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Watch live</a>
              </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" href="#">foundation school</a>
                    <div class="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                        <a class="dropdown-item" href="#">Overview</a>
                        <a class="dropdown-item" href="#">Curriculum</a>
                        <a class="dropdown-item" href="#">Activity</a>
                    </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Announcement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">sign up</a>
              </li>
          </ul>
        </div>
    </nav>
    <div class="container" style="max-width: 80rem; text-align:center;">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <img src="/img/banner.jpg" alt="" class="image-lg" >
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-justify">
                  <p>
                    The Christ Embassy LAGOS VIRTUAL ZONE Online Church is the virtual church extension of Christ Embassy LAGOS VIRTUAL ZONE, which reaches thousands from all around the world, beyond the walls of the mother church at the prestigious LoveWorld Convocation Arena (LCA) in Lagos, Nigeria.
                  </p>
                  <p>
                    The Christ Embassy LAGOS VIRTUAL ZONE Online Church also affords you the opportunity to:
                  </p>
                  <ol>
                    <li><strong>Join A Cell:</strong> Join a group of like-minded Christians in your locale, age group or profession to help your spiritual growth and development. <a href="#"><strong>Click Here to join a Cell NOW!</strong></a></li>
                    <br>
                    <li> <strong>Join the Foundation School:</strong> Enrol and study at your own pace in our special foundation school program where you will be progressively taught the doctrines of the gospel of Christ, according to Believer’s LoveWorld.<a href="#"><strong>Click Here to Enrol for the Foundation School NOW!</strong></a> </li>
                    <br>
                    <li><strong>Ask Questions:</strong> Ask and receive answers to your questions on topics which cut across different areas of Christianity such as Christian living, faith, prayer, the Holy Spirit, sin, righteousness, etc.<a href="#"><strong>Click Here to Ask a Question NOW!</strong></a> </li>
                    <br>
                    <li><strong>Follow Pastor Chris:</strong> Join the global army of millions making global changes as they pray together with Pastor Chris at the same time for the same purpose.<a href="#"><strong>Click Here to Follow Pastor Chris NOW!</strong></a> </li>
                    <br>
                    <li> <strong>Use Ministry Resources:</strong> Acquaint yourself with essential ministry resources by Pastor Chris ranging from audios, to videos and publications (both in print and e-Formats) including the world's #1 best-selling daily devotional,<strong>'Rhapsody of Realities.'</strong> </li>
                    <br>
                    <li><strong>Participate in Upcoming Events:</strong> Register to attend upcoming events (on-site or online) with the man of God, Pastor Chris, as we provide you with up-to-the-minute information on upcoming events with the Pastor Chris.</li>
                  </ol>
                  <p>
                    … And so much more. Get ready for a special journey with the Spirit of God through the CE LAGOS VIRTUAL ZONE Online Church!
                  </p>
                  <p class="u-center">
                      <a href="#" class="btn btn-primary" style="font-family:Raleway;" role="button">Click Here to Join Us NOW!</a>
                  </p>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="moreoptions" class="u-center">
          <h5 style="text-align: center; font-family:Raleway; ">
            <a href="#" target="_self">Register</a> || 
            <a href="#" target="_self">Sign In</a>
          </h5>
      </div>
    </div>

    <div class="row bg-grey footer">
      <div class="col-lg-9 margin-left-sm">
        <div class="tabs2">
          Privacy policy
        </div>
        <div class="tabs2">
          tech support
        </div>
      </div>
      <div class="col-lg-3">
        <p class="pg">Powered by Loveworld New Media</p>
      </div>
    </div>









    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>